* {
    box-sizing: border-box;
}

.caja {
    background-image: url('../assets/Fondo_secundario.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.elemento {
    display: flex;
    border: 1px solid white;
}

.elemento > img {
    filter: invert(1);
}

.informacion {
    color: white;
}

@media (max-width: 576px) {
    .caja {
        margin-top: 8rem;
    }
}
